.grid-container {
    display: grid;
}
.flex {
    display: flex;
}
.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}
.flex-row {
    display: flex;
    flex-direction: row;
}
.flex-column {
    display: flex;
    flex-direction: column;
}
.flex-wrap {
    flex-wrap: wrap;
}
.flex-no-wrap {
    flex-wrap: nowrap;
}
.flex-grow {
    flex-grow: 1;
}
.flex-grow-0 {
    flex-grow: 0;
}
.flex-shrink {
    flex-shrink: 1;
}
.flex-shrink-0 {
    flex-shrink: 0;
}
.position-relative {
    position: relative;
}
.position-absolute {
    position: absolute;
}
.display-none {
    display: none;
}
.display-block {
    display: block;
}
.overflow-hidden {
    overflow: hidden;
}
.overflow-scroll {
    overflow: scroll;
}
.overflow-y-scroll {
    overflow-y: scroll;
}
.overflow-x-scroll {
    overflow-x: scroll;
}
.overflow-auto {
    overflow: auto;
}
.overflow-y-auto {
    overflow-y: auto;
}
.overflow-x-auto {
    overflow-x: auto;
}
.justify-content-center {
    justify-content: center;
}
.justify-content-start {
    justify-content: start;
}
.justify-content-end {
    justify-content: end;
}
.justify-content-left {
    justify-content: left;
}
.justify-content-right {
    justify-content: right;
}
.justify-content-space-between {
    justify-content: space-between;
}
.justify-content-space-around {
    justify-content: space-around;
}
.justify-content-space-evenly {
    justify-content: space-evenly;
}
.justify-content-stretch {
    justify-content: stretch;
}
.justify-items-normal {
    justify-items: normal;
}
.justify-items-stretch {
    justify-items: stretch;
}
.justify-items-center {
    justify-items: center;
}
.justify-items-start {
    justify-items: start;
}
.justify-items-end {
    justify-items: end;
}
.justify-items-left {
    justify-items: left;
}
.justify-items-right {
    justify-items: right;
}
.justify-items-baseline {
    justify-items: baseline;
}
.justify-self-auto {
    justify-self: auto;
}
.justify-self-normal {
    justify-self: normal;
}
.justify-self-stretch {
    justify-self: stretch;
}
.justify-self-center {
    justify-self: center;
}
.justify-self-start {
    justify-self: start;
}
.justify-self-end {
    justify-self: end;
}
.justify-self-left {
    justify-self: left;
}
.justify-self-right {
    justify-self: right;
}
.justify-self-baseline {
    justify-self: baseline;
}
.align-content-center {
    align-content: center;
}
.align-content-start {
    align-content: start;
}
.align-content-end {
    align-content: end;
}
.align-content-baseline {
    align-content: baseline;
}
.align-content-space-between {
    align-content: space-between;
}
.align-content-space-around {
    align-content: space-around;
}
.align-content-space-evenly {
    align-content: space-evenly;
}
.align-content-stretch {
    align-content: stretch;
}
.align-items-center {
    align-items: center;
}
.align-items-start {
    align-items: start;
}
.align-items-end {
    align-items: end;
}
.align-items-baseline {
    align-items: baseline;
}
.align-items-stretch {
    align-items: stretch;
}
.align-self-auto {
    align-self: auto;
}
.align-self-center {
    align-self: center;
}
.align-self-start {
    align-self: start;
}
.align-self-end {
    align-self: end;
}
.align-self-baseline {
    align-self: baseline;
}
.align-self-stretch {
    align-self: stretch;
}
.m-2 {
    margin: 0.125rem;
}
.my-2 {
    margin-bottom: 0.125rem;
    margin-top: 0.125rem;
}
.mx-2 {
    margin-left: 0.125rem;
    margin-right: 0.125rem;
}
.m-4 {
    margin: 0.25rem;
}
.my-4 {
    margin-bottom: 0.25rem;
    margin-top: 0.25rem;
}
.mx-4 {
    margin-left: 0.25rem;
    margin-right: 0.25rem;
}
.m-8 {
    margin: 0.5rem;
}
.my-8 {
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}
.mx-8 {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}
.m-12 {
    margin: 0.75rem;
}
.my-12 {
    margin-bottom: 0.75rem;
    margin-top: 0.75rem;
}
.mx-12 {
    margin-left: 0.75rem;
    margin-right: 0.75rem;
}
.m-16 {
    margin: 1rem;
}
.my-16 {
    margin-bottom: 1rem;
    margin-top: 1rem;
}
.mx-16 {
    margin-left: 1rem;
    margin-right: 1rem;
}
.m-20 {
    margin: 1.25rem;
}
.my-20 {
    margin-bottom: 1.25rem;
    margin-top: 1.25rem;
}
.mx-20 {
    margin-left: 1.25rem;
    margin-right: 1.25rem;
}
.m-24 {
    margin: 1.5rem;
}
.my-24 {
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
}
.mx-24 {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}
.m-32 {
    margin: 2rem;
}
.my-32 {
    margin-bottom: 2rem;
    margin-top: 2rem;
}
.mx-32 {
    margin-left: 2rem;
    margin-right: 2rem;
}
.m-40 {
    margin: 2.5rem;
}
.my-40 {
    margin-bottom: 2.5rem;
    margin-top: 2.5rem;
}
.mx-40 {
    margin-left: 2.5rem;
    margin-right: 2.5rem;
}
.m-48 {
    margin: 3rem;
}
.my-48 {
    margin-bottom: 3rem;
    margin-top: 3rem;
}
.mx-48 {
    margin-left: 3rem;
    margin-right: 3rem;
}
.m-64 {
    margin: 4rem;
}
.my-64 {
    margin-bottom: 4rem;
    margin-top: 4rem;
}
.mx-64 {
    margin-left: 4rem;
    margin-right: 4rem;
}
.m-88 {
    margin: 5.5rem;
}
.my-88 {
    margin-bottom: 5.5rem;
    margin-top: 5.5rem;
}
.mx-88 {
    margin-left: 5.5rem;
    margin-right: 5.5rem;
}
.m-120 {
    margin: 7.5rem;
}
.my-120 {
    margin-bottom: 7.5rem;
    margin-top: 7.5rem;
}
.mx-120 {
    margin-left: 7.5rem;
    margin-right: 7.5rem;
}
.p-2 {
    padding: 0.125rem;
}
.py-2 {
    padding-bottom: 0.125rem;
    padding-top: 0.125rem;
}
.px-2 {
    padding-left: 0.125rem;
    padding-right: 0.125rem;
}
.p-4 {
    padding: 0.25rem;
}
.py-4 {
    padding-bottom: 0.25rem;
    padding-top: 0.25rem;
}
.px-4 {
    padding-left: 0.25rem;
    padding-right: 0.25rem;
}
.p-8 {
    padding: 0.5rem;
}
.py-8 {
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
}
.px-8 {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
.p-12 {
    padding: 0.75rem;
}
.py-12 {
    padding-bottom: 0.75rem;
    padding-top: 0.75rem;
}
.px-12 {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}
.p-16 {
    padding: 1rem;
}
.py-16 {
    padding-bottom: 1rem;
    padding-top: 1rem;
}
.px-16 {
    padding-left: 1rem;
    padding-right: 1rem;
}
.p-20 {
    padding: 1.25rem;
}
.py-20 {
    padding-bottom: 1.25rem;
    padding-top: 1.25rem;
}
.px-20 {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
}
.p-24 {
    padding: 1.5rem;
}
.py-24 {
    padding-bottom: 1.5rem;
    padding-top: 1.5rem;
}
.px-24 {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}
.p-32 {
    padding: 2rem;
}
.py-32 {
    padding-bottom: 2rem;
    padding-top: 2rem;
}
.px-32 {
    padding-left: 2rem;
    padding-right: 2rem;
}
.p-40 {
    padding: 2.5rem;
}
.py-40 {
    padding-bottom: 2.5rem;
    padding-top: 2.5rem;
}
.px-40 {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
}
.p-48 {
    padding: 3rem;
}
.py-48 {
    padding-bottom: 3rem;
    padding-top: 3rem;
}
.px-48 {
    padding-left: 3rem;
    padding-right: 3rem;
}
.p-64 {
    padding: 4rem;
}
.py-64 {
    padding-bottom: 4rem;
    padding-top: 4rem;
}
.px-64 {
    padding-left: 4rem;
    padding-right: 4rem;
}
.p-88 {
    padding: 5.5rem;
}
.py-88 {
    padding-bottom: 5.5rem;
    padding-top: 5.5rem;
}
.px-88 {
    padding-left: 5.5rem;
    padding-right: 5.5rem;
}
.p-120 {
    padding: 7.5rem;
}
.py-120 {
    padding-bottom: 7.5rem;
    padding-top: 7.5rem;
}
.px-120 {
    padding-left: 7.5rem;
    padding-right: 7.5rem;
}
.mt-2 {
    margin-top: 0.125rem;
}
.mb-2 {
    margin-bottom: 0.125rem;
}
.mr-2 {
    margin-right: 0.125rem;
}
.ml-2 {
    margin-left: 0.125rem;
}
.mt-4 {
    margin-top: 0.25rem;
}
.mb-4 {
    margin-bottom: 0.25rem;
}
.mr-4 {
    margin-right: 0.25rem;
}
.ml-4 {
    margin-left: 0.25rem;
}
.mt-8 {
    margin-top: 0.5rem;
}
.mb-8 {
    margin-bottom: 0.5rem;
}
.mr-8 {
    margin-right: 0.5rem;
}
.ml-8 {
    margin-left: 0.5rem;
}
.mt-12 {
    margin-top: 0.75rem;
}
.mb-12 {
    margin-bottom: 0.75rem;
}
.mr-12 {
    margin-right: 0.75rem;
}
.ml-12 {
    margin-left: 0.75rem;
}
.mt-16 {
    margin-top: 1rem;
}
.mb-16 {
    margin-bottom: 1rem;
}
.mr-16 {
    margin-right: 1rem;
}
.ml-16 {
    margin-left: 1rem;
}
.mt-20 {
    margin-top: 1.25rem;
}
.mb-20 {
    margin-bottom: 1.25rem;
}
.mr-20 {
    margin-right: 1.25rem;
}
.ml-20 {
    margin-left: 1.25rem;
}
.mt-24 {
    margin-top: 1.5rem;
}
.mb-24 {
    margin-bottom: 1.5rem;
}
.mr-24 {
    margin-right: 1.5rem;
}
.ml-24 {
    margin-left: 1.5rem;
}
.mt-32 {
    margin-top: 2rem;
}
.mb-32 {
    margin-bottom: 2rem;
}
.mr-32 {
    margin-right: 2rem;
}
.ml-32 {
    margin-left: 2rem;
}
.mt-40 {
    margin-top: 2.5rem;
}
.mb-40 {
    margin-bottom: 2.5rem;
}
.mr-40 {
    margin-right: 2.5rem;
}
.ml-40 {
    margin-left: 2.5rem;
}
.mt-48 {
    margin-top: 3rem;
}
.mb-48 {
    margin-bottom: 3rem;
}
.mr-48 {
    margin-right: 3rem;
}
.ml-48 {
    margin-left: 3rem;
}
.mt-64 {
    margin-top: 4rem;
}
.mb-64 {
    margin-bottom: 4rem;
}
.mr-64 {
    margin-right: 4rem;
}
.ml-64 {
    margin-left: 4rem;
}
.mt-88 {
    margin-top: 5.5rem;
}
.mb-88 {
    margin-bottom: 5.5rem;
}
.mr-88 {
    margin-right: 5.5rem;
}
.ml-88 {
    margin-left: 5.5rem;
}
.mt-120 {
    margin-top: 7.5rem;
}
.mb-120 {
    margin-bottom: 7.5rem;
}
.mr-120 {
    margin-right: 7.5rem;
}
.ml-120 {
    margin-left: 7.5rem;
}
.pt-2 {
    padding-top: 0.125rem;
}
.pb-2 {
    padding-bottom: 0.125rem;
}
.pr-2 {
    padding-right: 0.125rem;
}
.pl-2 {
    padding-left: 0.125rem;
}
.pt-4 {
    padding-top: 0.25rem;
}
.pb-4 {
    padding-bottom: 0.25rem;
}
.pr-4 {
    padding-right: 0.25rem;
}
.pl-4 {
    padding-left: 0.25rem;
}
.pt-8 {
    padding-top: 0.5rem;
}
.pb-8 {
    padding-bottom: 0.5rem;
}
.pr-8 {
    padding-right: 0.5rem;
}
.pl-8 {
    padding-left: 0.5rem;
}
.pt-12 {
    padding-top: 0.75rem;
}
.pb-12 {
    padding-bottom: 0.75rem;
}
.pr-12 {
    padding-right: 0.75rem;
}
.pl-12 {
    padding-left: 0.75rem;
}
.pt-16 {
    padding-top: 1rem;
}
.pb-16 {
    padding-bottom: 1rem;
}
.pr-16 {
    padding-right: 1rem;
}
.pl-16 {
    padding-left: 1rem;
}
.pt-20 {
    padding-top: 1.25rem;
}
.pb-20 {
    padding-bottom: 1.25rem;
}
.pr-20 {
    padding-right: 1.25rem;
}
.pl-20 {
    padding-left: 1.25rem;
}
.pt-24 {
    padding-top: 1.5rem;
}
.pb-24 {
    padding-bottom: 1.5rem;
}
.pr-24 {
    padding-right: 1.5rem;
}
.pl-24 {
    padding-left: 1.5rem;
}
.pt-32 {
    padding-top: 2rem;
}
.pb-32 {
    padding-bottom: 2rem;
}
.pr-32 {
    padding-right: 2rem;
}
.pl-32 {
    padding-left: 2rem;
}
.pt-40 {
    padding-top: 2.5rem;
}
.pb-40 {
    padding-bottom: 2.5rem;
}
.pr-40 {
    padding-right: 2.5rem;
}
.pl-40 {
    padding-left: 2.5rem;
}
.pt-48 {
    padding-top: 3rem;
}
.pb-48 {
    padding-bottom: 3rem;
}
.pr-48 {
    padding-right: 3rem;
}
.pl-48 {
    padding-left: 3rem;
}
.pt-64 {
    padding-top: 4rem;
}
.pb-64 {
    padding-bottom: 4rem;
}
.pr-64 {
    padding-right: 4rem;
}
.pl-64 {
    padding-left: 4rem;
}
.pt-88 {
    padding-top: 5.5rem;
}
.pb-88 {
    padding-bottom: 5.5rem;
}
.pr-88 {
    padding-right: 5.5rem;
}
.pl-88 {
    padding-left: 5.5rem;
}
.pt-120 {
    padding-top: 7.5rem;
}
.pb-120 {
    padding-bottom: 7.5rem;
}
.pr-120 {
    padding-right: 7.5rem;
}
.pl-120 {
    padding-left: 7.5rem;
}
.no-padding {
    padding: 0;
}
.no-margin {
    margin: 0;
}
.mh-auto,
.mx-auto {
    margin-left: auto;
    margin-right: auto;
}
.size-w-8 {
    width: 0.5rem;
}
.size-h-8 {
    height: 0.5rem;
}
.size-w-10 {
    width: 0.625rem;
}
.size-h-10 {
    height: 0.625rem;
}
.size-w-12 {
    width: 0.75rem;
}
.size-h-12 {
    height: 0.75rem;
}
.size-w-16 {
    width: 1rem;
}
.size-h-16 {
    height: 1rem;
}
.size-w-18 {
    width: 1.125rem;
}
.size-h-18 {
    height: 1.125rem;
}
.size-w-20 {
    width: 1.25rem;
}
.size-h-20 {
    height: 1.25rem;
}
.size-w-24 {
    width: 1.5rem;
}
.size-h-24 {
    height: 1.5rem;
}
.size-w-32 {
    width: 2rem;
}
.size-h-32 {
    height: 2rem;
}
.size-w-36 {
    width: 2.25rem;
}
.size-h-36 {
    height: 2.25rem;
}
.size-w-40 {
    width: 2.5rem;
}
.size-h-40 {
    height: 2.5rem;
}
.size-w-48 {
    width: 3rem;
}
.size-h-48 {
    height: 3rem;
}
.size-w-64 {
    width: 4rem;
}
.size-h-64 {
    height: 4rem;
}
.size-w-72 {
    width: 4.5rem;
}
.size-h-72 {
    height: 4.5rem;
}
.size-w-96 {
    width: 6rem;
}
.size-h-96 {
    height: 6rem;
}
.size-w-128 {
    width: 8rem;
}
.size-h-128 {
    height: 8rem;
}
.size-w-144 {
    width: 9rem;
}
.size-h-144 {
    height: 9rem;
}
.size-w-192 {
    width: 12rem;
}
.size-h-192 {
    height: 12rem;
}
.size-w-256 {
    width: 16rem;
}
.size-h-256 {
    height: 16rem;
}
.size-w-384 {
    width: 24rem;
}
.size-h-384 {
    height: 24rem;
}
.size-w-512 {
    width: 32rem;
}
.size-h-512 {
    height: 32rem;
}
.size-w-768 {
    width: 48rem;
}
.size-h-768 {
    height: 48rem;
}
.size-w-1024 {
    width: 64rem;
}
.size-h-1024 {
    height: 64rem;
}
.size-8 {
    height: 0.5rem;
    width: 0.5rem;
}
.size-10 {
    height: 0.625rem;
    width: 0.625rem;
}
.size-12 {
    height: 0.75rem;
    width: 0.75rem;
}
.size-16 {
    height: 1rem;
    width: 1rem;
}
.size-18 {
    height: 1.125rem;
    width: 1.125rem;
}
.size-20 {
    height: 1.25rem;
    width: 1.25rem;
}
.size-24 {
    height: 1.5rem;
    width: 1.5rem;
}
.size-32 {
    height: 2rem;
    width: 2rem;
}
.size-36 {
    height: 2.25rem;
    width: 2.25rem;
}
.size-40 {
    height: 2.5rem;
    width: 2.5rem;
}
.size-48 {
    height: 3rem;
    width: 3rem;
}
.size-64 {
    height: 4rem;
    width: 4rem;
}
.size-72 {
    height: 4.5rem;
    width: 4.5rem;
}
.size-96 {
    height: 6rem;
    width: 6rem;
}
.size-128 {
    height: 8rem;
    width: 8rem;
}
.size-144 {
    height: 9rem;
    width: 9rem;
}
.size-192 {
    height: 12rem;
    width: 12rem;
}
.size-256 {
    height: 16rem;
    width: 16rem;
}
.size-384 {
    height: 24rem;
    width: 24rem;
}
.size-512 {
    height: 32rem;
    width: 32rem;
}
.size-768 {
    height: 48rem;
    width: 48rem;
}
.size-1024 {
    height: 64rem;
    width: 64rem;
}
.size-w-25p {
    width: 25%;
}
.size-h-25p {
    height: 25%;
}
.size-w-33p {
    width: 33.33%;
}
.size-h-33p {
    height: 33.33%;
}
.size-w-50p {
    width: 50%;
}
.size-h-50p {
    height: 50%;
}
.size-w-66p {
    width: 66.67%;
}
.size-h-66p {
    height: 66.67%;
}
.size-w-75p {
    width: 75%;
}
.size-h-75p {
    height: 75%;
}
.size-w-100p {
    width: 100%;
}
.size-h-100p {
    height: 100%;
}
.size-25p {
    height: 25%;
    width: 25%;
}
.size-33p {
    height: 33.33%;
    width: 33.33%;
}
.size-50p {
    height: 50%;
    width: 50%;
}
.size-66p {
    height: 66.67%;
    width: 66.67%;
}
.size-75p {
    height: 75%;
    width: 75%;
}
.size-100p {
    height: 100%;
    width: 100%;
}
.max-w-8 {
    max-width: 0.5rem;
}
.min-w-8 {
    min-width: 0.5rem;
}
.max-h-8 {
    max-height: 0.5rem;
}
.min-h-8 {
    min-height: 0.5rem;
}
.max-w-10 {
    max-width: 0.625rem;
}
.min-w-10 {
    min-width: 0.625rem;
}
.max-h-10 {
    max-height: 0.625rem;
}
.min-h-10 {
    min-height: 0.625rem;
}
.max-w-12 {
    max-width: 0.75rem;
}
.min-w-12 {
    min-width: 0.75rem;
}
.max-h-12 {
    max-height: 0.75rem;
}
.min-h-12 {
    min-height: 0.75rem;
}
.max-w-16 {
    max-width: 1rem;
}
.min-w-16 {
    min-width: 1rem;
}
.max-h-16 {
    max-height: 1rem;
}
.min-h-16 {
    min-height: 1rem;
}
.max-w-18 {
    max-width: 1.125rem;
}
.min-w-18 {
    min-width: 1.125rem;
}
.max-h-18 {
    max-height: 1.125rem;
}
.min-h-18 {
    min-height: 1.125rem;
}
.max-w-20 {
    max-width: 1.25rem;
}
.min-w-20 {
    min-width: 1.25rem;
}
.max-h-20 {
    max-height: 1.25rem;
}
.min-h-20 {
    min-height: 1.25rem;
}
.max-w-24 {
    max-width: 1.5rem;
}
.min-w-24 {
    min-width: 1.5rem;
}
.max-h-24 {
    max-height: 1.5rem;
}
.min-h-24 {
    min-height: 1.5rem;
}
.max-w-32 {
    max-width: 2rem;
}
.min-w-32 {
    min-width: 2rem;
}
.max-h-32 {
    max-height: 2rem;
}
.min-h-32 {
    min-height: 2rem;
}
.max-w-36 {
    max-width: 2.25rem;
}
.min-w-36 {
    min-width: 2.25rem;
}
.max-h-36 {
    max-height: 2.25rem;
}
.min-h-36 {
    min-height: 2.25rem;
}
.max-w-40 {
    max-width: 2.5rem;
}
.min-w-40 {
    min-width: 2.5rem;
}
.max-h-40 {
    max-height: 2.5rem;
}
.min-h-40 {
    min-height: 2.5rem;
}
.max-w-48 {
    max-width: 3rem;
}
.min-w-48 {
    min-width: 3rem;
}
.max-h-48 {
    max-height: 3rem;
}
.min-h-48 {
    min-height: 3rem;
}
.max-w-64 {
    max-width: 4rem;
}
.min-w-64 {
    min-width: 4rem;
}
.max-h-64 {
    max-height: 4rem;
}
.min-h-64 {
    min-height: 4rem;
}
.max-w-72 {
    max-width: 4.5rem;
}
.min-w-72 {
    min-width: 4.5rem;
}
.max-h-72 {
    max-height: 4.5rem;
}
.min-h-72 {
    min-height: 4.5rem;
}
.max-w-96 {
    max-width: 6rem;
}
.min-w-96 {
    min-width: 6rem;
}
.max-h-96 {
    max-height: 6rem;
}
.min-h-96 {
    min-height: 6rem;
}
.max-w-128 {
    max-width: 8rem;
}
.min-w-128 {
    min-width: 8rem;
}
.max-h-128 {
    max-height: 8rem;
}
.min-h-128 {
    min-height: 8rem;
}
.max-w-144 {
    max-width: 9rem;
}
.min-w-144 {
    min-width: 9rem;
}
.max-h-144 {
    max-height: 9rem;
}
.min-h-144 {
    min-height: 9rem;
}
.max-w-192 {
    max-width: 12rem;
}
.min-w-192 {
    min-width: 12rem;
}
.max-h-192 {
    max-height: 12rem;
}
.min-h-192 {
    min-height: 12rem;
}
.max-w-256 {
    max-width: 16rem;
}
.min-w-256 {
    min-width: 16rem;
}
.max-h-256 {
    max-height: 16rem;
}
.min-h-256 {
    min-height: 16rem;
}
.max-w-384 {
    max-width: 24rem;
}
.min-w-384 {
    min-width: 24rem;
}
.max-h-384 {
    max-height: 24rem;
}
.min-h-384 {
    min-height: 24rem;
}
.max-w-512 {
    max-width: 32rem;
}
.min-w-512 {
    min-width: 32rem;
}
.max-h-512 {
    max-height: 32rem;
}
.min-h-512 {
    min-height: 32rem;
}
.max-w-768 {
    max-width: 48rem;
}
.min-w-768 {
    min-width: 48rem;
}
.max-h-768 {
    max-height: 48rem;
}
.min-h-768 {
    min-height: 48rem;
}
.max-w-1024 {
    max-width: 64rem;
}
.min-w-1024 {
    min-width: 64rem;
}
.max-h-1024 {
    max-height: 64rem;
}
.min-h-1024 {
    min-height: 64rem;
}
.max-8 {
    max-height: 0.5rem;
    max-width: 0.5rem;
}
.min-8 {
    min-height: 0.5rem;
    min-width: 0.5rem;
}
.max-10 {
    max-height: 0.625rem;
    max-width: 0.625rem;
}
.min-10 {
    min-height: 0.625rem;
    min-width: 0.625rem;
}
.max-12 {
    max-height: 0.75rem;
    max-width: 0.75rem;
}
.min-12 {
    min-height: 0.75rem;
    min-width: 0.75rem;
}
.max-16 {
    max-height: 1rem;
    max-width: 1rem;
}
.min-16 {
    min-height: 1rem;
    min-width: 1rem;
}
.max-18 {
    max-height: 1.125rem;
    max-width: 1.125rem;
}
.min-18 {
    min-height: 1.125rem;
    min-width: 1.125rem;
}
.max-20 {
    max-height: 1.25rem;
    max-width: 1.25rem;
}
.min-20 {
    min-height: 1.25rem;
    min-width: 1.25rem;
}
.max-24 {
    max-height: 1.5rem;
    max-width: 1.5rem;
}
.min-24 {
    min-height: 1.5rem;
    min-width: 1.5rem;
}
.max-32 {
    max-height: 2rem;
    max-width: 2rem;
}
.min-32 {
    min-height: 2rem;
    min-width: 2rem;
}
.max-36 {
    max-height: 2.25rem;
    max-width: 2.25rem;
}
.min-36 {
    min-height: 2.25rem;
    min-width: 2.25rem;
}
.max-40 {
    max-height: 2.5rem;
    max-width: 2.5rem;
}
.min-40 {
    min-height: 2.5rem;
    min-width: 2.5rem;
}
.max-48 {
    max-height: 3rem;
    max-width: 3rem;
}
.min-48 {
    min-height: 3rem;
    min-width: 3rem;
}
.max-64 {
    max-height: 4rem;
    max-width: 4rem;
}
.min-64 {
    min-height: 4rem;
    min-width: 4rem;
}
.max-72 {
    max-height: 4.5rem;
    max-width: 4.5rem;
}
.min-72 {
    min-height: 4.5rem;
    min-width: 4.5rem;
}
.max-96 {
    max-height: 6rem;
    max-width: 6rem;
}
.min-96 {
    min-height: 6rem;
    min-width: 6rem;
}
.max-128 {
    max-height: 8rem;
    max-width: 8rem;
}
.min-128 {
    min-height: 8rem;
    min-width: 8rem;
}
.max-144 {
    max-height: 9rem;
    max-width: 9rem;
}
.min-144 {
    min-height: 9rem;
    min-width: 9rem;
}
.max-192 {
    max-height: 12rem;
    max-width: 12rem;
}
.min-192 {
    min-height: 12rem;
    min-width: 12rem;
}
.max-256 {
    max-height: 16rem;
    max-width: 16rem;
}
.min-256 {
    min-height: 16rem;
    min-width: 16rem;
}
.max-384 {
    max-height: 24rem;
    max-width: 24rem;
}
.min-384 {
    min-height: 24rem;
    min-width: 24rem;
}
.max-512 {
    max-height: 32rem;
    max-width: 32rem;
}
.min-512 {
    min-height: 32rem;
    min-width: 32rem;
}
.max-768 {
    max-height: 48rem;
    max-width: 48rem;
}
.min-768 {
    min-height: 48rem;
    min-width: 48rem;
}
.max-1024 {
    max-height: 64rem;
    max-width: 64rem;
}
.min-1024 {
    min-height: 64rem;
    min-width: 64rem;
}
.max-w-25p {
    max-width: 25%;
}
.min-w-25p {
    min-width: 25%;
}
.max-h-25p {
    max-height: 25%;
}
.min-h-25p {
    min-height: 25%;
}
.max-w-33p {
    max-width: 33.33%;
}
.min-w-33p {
    min-width: 33.33%;
}
.max-h-33p {
    max-height: 33.33%;
}
.min-h-33p {
    min-height: 33.33%;
}
.max-w-50p {
    max-width: 50%;
}
.min-w-50p {
    min-width: 50%;
}
.max-h-50p {
    max-height: 50%;
}
.min-h-50p {
    min-height: 50%;
}
.max-w-66p {
    max-width: 66.67%;
}
.min-w-66p {
    min-width: 66.67%;
}
.max-h-66p {
    max-height: 66.67%;
}
.min-h-66p {
    min-height: 66.67%;
}
.max-w-75p {
    max-width: 75%;
}
.min-w-75p {
    min-width: 75%;
}
.max-h-75p {
    max-height: 75%;
}
.min-h-75p {
    min-height: 75%;
}
.max-w-100p {
    max-width: 100%;
}
.min-w-100p {
    min-width: 100%;
}
.max-h-100p {
    max-height: 100%;
}
.min-h-100p {
    min-height: 100%;
}
.fit-content {
    height: fit-content;
    width: fit-content;
}
.row-gap-2 {
    row-gap: 0.125rem;
}
.col-gap-2 {
    column-gap: 0.125rem;
}
.row-gap-4 {
    row-gap: 0.25rem;
}
.col-gap-4 {
    column-gap: 0.25rem;
}
.row-gap-8 {
    row-gap: 0.5rem;
}
.col-gap-8 {
    column-gap: 0.5rem;
}
.row-gap-12 {
    row-gap: 0.75rem;
}
.col-gap-12 {
    column-gap: 0.75rem;
}
.row-gap-16 {
    row-gap: 1rem;
}
.col-gap-16 {
    column-gap: 1rem;
}
.row-gap-20 {
    row-gap: 1.25rem;
}
.col-gap-20 {
    column-gap: 1.25rem;
}
.row-gap-24 {
    row-gap: 1.5rem;
}
.col-gap-24 {
    column-gap: 1.5rem;
}
.row-gap-32 {
    row-gap: 2rem;
}
.col-gap-32 {
    column-gap: 2rem;
}
.row-gap-40 {
    row-gap: 2.5rem;
}
.col-gap-40 {
    column-gap: 2.5rem;
}
.row-gap-48 {
    row-gap: 3rem;
}
.col-gap-48 {
    column-gap: 3rem;
}
.row-gap-64 {
    row-gap: 4rem;
}
.col-gap-64 {
    column-gap: 4rem;
}
.row-gap-88 {
    row-gap: 5.5rem;
}
.col-gap-88 {
    column-gap: 5.5rem;
}
.row-gap-120 {
    row-gap: 7.5rem;
}
.col-gap-120 {
    column-gap: 7.5rem;
}
.gap-2 {
    gap: 0.125rem;
}
.gap-4 {
    gap: 0.25rem;
}
.gap-8 {
    gap: 0.5rem;
}
.gap-12 {
    gap: 0.75rem;
}
.gap-16 {
    gap: 1rem;
}
.gap-20 {
    gap: 1.25rem;
}
.gap-24 {
    gap: 1.5rem;
}
.gap-32 {
    gap: 2rem;
}
.gap-40 {
    gap: 2.5rem;
}
.gap-48 {
    gap: 3rem;
}
.gap-64 {
    gap: 4rem;
}
.gap-88 {
    gap: 5.5rem;
}
.gap-120 {
    gap: 7.5rem;
}
.no-gap {
    gap: 0;
}
.border-width-3 {
    border-width: 0.1875rem;
}
.border-width-2 {
    border-width: 0.125rem;
}
.border-width-1-5 {
    border-width: 0.09375rem;
}
.border-width-1-2 {
    border-width: 0.075rem;
}
.border-width-1 {
    border-width: 0.0625rem;
}
.border-width-0-5 {
    border-width: 0.03125rem;
}
.border-top-width-3 {
    border-top-width: 0.1875rem;
}
.border-top-width-2 {
    border-top-width: 0.125rem;
}
.border-top-width-1-5 {
    border-top-width: 0.09375rem;
}
.border-top-width-1-2 {
    border-top-width: 0.075rem;
}
.border-top-width-1 {
    border-top-width: 0.0625rem;
}
.border-top-width-0-5 {
    border-top-width: 0.03125rem;
}
.border-bottom-width-3 {
    border-bottom-width: 0.1875rem;
}
.border-bottom-width-2 {
    border-bottom-width: 0.125rem;
}
.border-bottom-width-1-5 {
    border-bottom-width: 0.09375rem;
}
.border-bottom-width-1-2 {
    border-bottom-width: 0.075rem;
}
.border-bottom-width-1 {
    border-bottom-width: 0.0625rem;
}
.border-bottom-width-0-5 {
    border-bottom-width: 0.03125rem;
}
.border-right-width-3 {
    border-right-width: 0.1875rem;
}
.border-right-width-2 {
    border-right-width: 0.125rem;
}
.border-right-width-1-5 {
    border-right-width: 0.09375rem;
}
.border-right-width-1-2 {
    border-right-width: 0.075rem;
}
.border-right-width-1 {
    border-right-width: 0.0625rem;
}
.border-right-width-0-5 {
    border-right-width: 0.03125rem;
}
.border-left-width-3 {
    border-left-width: 0.1875rem;
}
.border-left-width-2 {
    border-left-width: 0.125rem;
}
.border-left-width-1-5 {
    border-left-width: 0.09375rem;
}
.border-left-width-1-2 {
    border-left-width: 0.075rem;
}
.border-left-width-1 {
    border-left-width: 0.0625rem;
}
.border-left-width-0-5 {
    border-left-width: 0.03125rem;
}
.border-none {
    border: none;
}
.border-dashed {
    border-style: dashed;
}
.border-solid {
    border-style: solid;
}
.border-dotted {
    border-style: dotted;
}
.border-top-dashed {
    border-top-style: dashed;
}
.border-top-solid {
    border-top-style: solid;
}
.border-top-dotted {
    border-top-style: dotted;
}
.border-bottom-dashed {
    border-bottom-style: dashed;
}
.border-bottom-solid {
    border-bottom-style: solid;
}
.border-bottom-dotted {
    border-bottom-style: dotted;
}
.border-right-dashed {
    border-right-style: dashed;
}
.border-right-solid {
    border-right-style: solid;
}
.border-right-dotted {
    border-right-style: dotted;
}
.border-left-dashed {
    border-left-style: dashed;
}
.border-left-solid {
    border-left-style: solid;
}
.border-left-dotted {
    border-left-style: dotted;
}
.border-radius-12 {
    border-radius: 0.75rem;
}
.border-radius-6 {
    border-radius: 0.375rem;
}
.border-radius-4 {
    border-radius: 0.25rem;
}
.border-radius-0 {
    border-radius: 0;
}
.border-radius-50p,
.round {
    border-radius: 50%;
}
.shadow-400 {
    box-shadow: 0 8px 24px 0 rgba(51, 30, 17, 0.141);
}
.shadow-300 {
    box-shadow: 0 8px 12px 0 rgba(51, 30, 17, 0.122);
}
.shadow-200 {
    box-shadow: 0 4px 8px 0 rgba(51, 30, 17, 0.102);
}
.background-yellow-500 {
    background-color: #e9ad25;
}
.color-yellow-500 {
    color: #e9ad25;
}
.border-color-yellow-500 {
    border-color: #e9ad25;
}
.background-yellow-400 {
    background-color: #fcc74f;
}
.color-yellow-400 {
    color: #fcc74f;
}
.border-color-yellow-400 {
    border-color: #fcc74f;
}
.background-yellow-300 {
    background-color: #f8d077;
}
.color-yellow-300 {
    color: #f8d077;
}
.border-color-yellow-300 {
    border-color: #f8d077;
}
.background-yellow-200 {
    background-color: #f7dfa1;
}
.color-yellow-200 {
    color: #f7dfa1;
}
.border-color-yellow-200 {
    border-color: #f7dfa1;
}
.background-yellow-100 {
    background-color: #f9ebc7;
}
.color-yellow-100 {
    color: #f9ebc7;
}
.border-color-yellow-100 {
    border-color: #f9ebc7;
}
.background-brown-900 {
    background-color: #24150c;
}
.color-brown-900 {
    color: #24150c;
}
.border-color-brown-900 {
    border-color: #24150c;
}
.background-brown-800 {
    background-color: #331e11;
}
.color-brown-800 {
    color: #331e11;
}
.border-color-brown-800 {
    border-color: #331e11;
}
.background-brown-700 {
    background-color: #6e625e;
}
.color-brown-700 {
    color: #6e625e;
}
.border-color-brown-700 {
    border-color: #6e625e;
}
.background-brown-600 {
    background-color: #9f948f;
}
.color-brown-600 {
    color: #9f948f;
}
.border-color-brown-600 {
    border-color: #9f948f;
}
.background-brown-500 {
    background-color: #b7aea8;
}
.color-brown-500 {
    color: #b7aea8;
}
.border-color-brown-500 {
    border-color: #b7aea8;
}
.background-beige-600 {
    background-color: #d6cec8;
}
.color-beige-600 {
    color: #d6cec8;
}
.border-color-beige-600 {
    border-color: #d6cec8;
}
.background-beige-500 {
    background-color: #e8e0d9;
}
.color-beige-500 {
    color: #e8e0d9;
}
.border-color-beige-500 {
    border-color: #e8e0d9;
}
.background-beige-400 {
    background-color: #ede6e1;
}
.color-beige-400 {
    color: #ede6e1;
}
.border-color-beige-400 {
    border-color: #ede6e1;
}
.background-beige-300 {
    background-color: #f1ece8;
}
.color-beige-300 {
    color: #f1ece8;
}
.border-color-beige-300 {
    border-color: #f1ece8;
}
.background-beige-200 {
    background-color: #f6f3f0;
}
.color-beige-200 {
    color: #f6f3f0;
}
.border-color-beige-200 {
    border-color: #f6f3f0;
}
.background-beige-100 {
    background-color: #faf9f7;
}
.color-beige-100 {
    color: #faf9f7;
}
.border-color-beige-100 {
    border-color: #faf9f7;
}
.background-blue-500 {
    background-color: #1241a2;
}
.color-blue-500 {
    color: #1241a2;
}
.border-color-blue-500 {
    border-color: #1241a2;
}
.background-blue-400 {
    background-color: #0054f0;
}
.color-blue-400 {
    color: #0054f0;
}
.border-color-blue-400 {
    border-color: #0054f0;
}
.background-blue-300 {
    background-color: #5a8ae2;
}
.color-blue-300 {
    color: #5a8ae2;
}
.border-color-blue-300 {
    border-color: #5a8ae2;
}
.background-blue-200 {
    background-color: #a8c2f0;
}
.color-blue-200 {
    color: #a8c2f0;
}
.border-color-blue-200 {
    border-color: #a8c2f0;
}
.background-blue-100 {
    background-color: #e1e9f6;
}
.color-blue-100 {
    color: #e1e9f6;
}
.border-color-blue-100 {
    border-color: #e1e9f6;
}
.background-red-500 {
    background-color: #812308;
}
.color-red-500 {
    color: #812308;
}
.border-color-red-500 {
    border-color: #812308;
}
.background-red-400 {
    background-color: #bb320c;
}
.color-red-400 {
    color: #bb320c;
}
.border-color-red-400 {
    border-color: #bb320c;
}
.background-red-300 {
    background-color: #d16547;
}
.color-red-300 {
    color: #d16547;
}
.border-color-red-300 {
    border-color: #d16547;
}
.background-red-200 {
    background-color: #f1b398;
}
.color-red-200 {
    color: #f1b398;
}
.border-color-red-200 {
    border-color: #f1b398;
}
.background-red-100 {
    background-color: #f9e3d4;
}
.color-red-100 {
    color: #f9e3d4;
}
.border-color-red-100 {
    border-color: #f9e3d4;
}
.background-green-500 {
    background-color: #183f1f;
}
.color-green-500 {
    color: #183f1f;
}
.border-color-green-500 {
    border-color: #183f1f;
}
.background-green-400 {
    background-color: #217331;
}
.color-green-400 {
    color: #217331;
}
.border-color-green-400 {
    border-color: #217331;
}
.background-green-300 {
    background-color: #4b9b5a;
}
.color-green-300 {
    color: #4b9b5a;
}
.border-color-green-300 {
    border-color: #4b9b5a;
}
.background-green-200 {
    background-color: #b6d5b5;
}
.color-green-200 {
    color: #b6d5b5;
}
.border-color-green-200 {
    border-color: #b6d5b5;
}
.background-green-100 {
    background-color: #e0f0db;
}
.color-green-100 {
    color: #e0f0db;
}
.border-color-green-100 {
    border-color: #e0f0db;
}
.background-white {
    background-color: #fff;
}
.color-white {
    color: #fff;
}
.border-color-white {
    border-color: #fff;
}
.background-black {
    background-color: #000;
}
.color-black {
    color: #000;
}
.border-color-black {
    border-color: #000;
}
.background-transparent {
    background-color: transparent;
}
.color-transparent {
    color: transparent;
}
.border-color-transparent {
    border-color: transparent;
}
.background-inherit {
    background-color: inherit;
}
.color-inherit {
    color: inherit;
}
.border-color-inherit {
    border-color: inherit;
}
.opacity-0 {
    opacity: 0;
}
.opacity-10 {
    opacity: 0.1;
}
.opacity-20 {
    opacity: 0.2;
}
.opacity-30 {
    opacity: 0.3;
}
.opacity-40 {
    opacity: 0.4;
}
.opacity-50 {
    opacity: 0.5;
}
.opacity-60 {
    opacity: 0.6;
}
.opacity-70 {
    opacity: 0.7;
}
.opacity-80 {
    opacity: 0.8;
}
.opacity-90 {
    opacity: 0.9;
}
.opacity-100 {
    opacity: 1;
}
.mask-0:before {
    opacity: 0;
}
.mask-10:before {
    opacity: 0.1;
}
.mask-20:before {
    opacity: 0.2;
}
.mask-30:before {
    opacity: 0.3;
}
.mask-40:before {
    opacity: 0.4;
}
.mask-50:before {
    opacity: 0.5;
}
.mask-60:before {
    opacity: 0.6;
}
.mask-70:before {
    opacity: 0.7;
}
.mask-80:before {
    opacity: 0.8;
}
.mask-90:before {
    opacity: 0.9;
}
.mask-100:before {
    opacity: 1;
}
.brighten,
.dim {
    position: relative;
}
.brighten:before,
.dim:before {
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.dim:before {
    background-color: #000;
}
.brighten:before {
    background-color: #fff;
}
.blur-0 {
    filter: blur(0);
}
.blur-1 {
    filter: blur(1px);
}
.blur-2 {
    filter: blur(2px);
}
.blur-3 {
    filter: blur(3px);
}
.blur-4 {
    filter: blur(4px);
}
.blur-5 {
    filter: blur(5px);
}
.blur-6 {
    filter: blur(6px);
}
.blur-7 {
    filter: blur(7px);
}
.blur-8 {
    filter: blur(8px);
}
.blur-9 {
    filter: blur(9px);
}
.blur-10 {
    filter: blur(10px);
}
.cursor-none {
    cursor: none;
}
.cursor-context-menu {
    cursor: context-menu;
}
.cursor-help {
    cursor: help;
}
.cursor-pointer {
    cursor: pointer;
}
.cursor-progress {
    cursor: progress;
}
.cursor-text {
    cursor: text;
}
.cursor-not-allowed {
    cursor: not-allowed;
}
.cursor-zoom-in {
    cursor: zoom-in;
}
.cursor-zoom-out {
    cursor: zoom-out;
}
.object-contain,
.object-fit-contain {
    object-fit: contain;
}
.object-cover,
.object-fit-cover {
    object-fit: cover;
}
.object-fill,
.object-fit-fill {
    object-fit: fill;
}
.object-fit-none,
.object-none {
    object-fit: none;
}
.object-fit-scale-down,
.object-scale-down {
    object-fit: scale-down;
}
.text-wrap {
    text-wrap: wrap;
}
.text-nowrap {
    text-wrap: nowrap;
}
.text-wrap-balance {
    text-wrap: balance;
}
.text-wrap-pretty {
    text-wrap: pretty;
}
.sr-only {
    border: 0;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    clip: rect(0, 0, 0, 0);
}
@media (hover: hover) and (pointer: fine) {
    .hover-background-yellow-500:hover {
        background-color: #e9ad25;
    }
    .hover-color-yellow-500:hover {
        color: #e9ad25;
    }
    .hover-border-color-yellow-500:hover {
        border-color: #e9ad25;
    }
    .hover-background-yellow-400:hover {
        background-color: #fcc74f;
    }
    .hover-color-yellow-400:hover {
        color: #fcc74f;
    }
    .hover-border-color-yellow-400:hover {
        border-color: #fcc74f;
    }
    .hover-background-yellow-300:hover {
        background-color: #f8d077;
    }
    .hover-color-yellow-300:hover {
        color: #f8d077;
    }
    .hover-border-color-yellow-300:hover {
        border-color: #f8d077;
    }
    .hover-background-yellow-200:hover {
        background-color: #f7dfa1;
    }
    .hover-color-yellow-200:hover {
        color: #f7dfa1;
    }
    .hover-border-color-yellow-200:hover {
        border-color: #f7dfa1;
    }
    .hover-background-yellow-100:hover {
        background-color: #f9ebc7;
    }
    .hover-color-yellow-100:hover {
        color: #f9ebc7;
    }
    .hover-border-color-yellow-100:hover {
        border-color: #f9ebc7;
    }
    .hover-background-brown-900:hover {
        background-color: #24150c;
    }
    .hover-color-brown-900:hover {
        color: #24150c;
    }
    .hover-border-color-brown-900:hover {
        border-color: #24150c;
    }
    .hover-background-brown-800:hover {
        background-color: #331e11;
    }
    .hover-color-brown-800:hover {
        color: #331e11;
    }
    .hover-border-color-brown-800:hover {
        border-color: #331e11;
    }
    .hover-background-brown-700:hover {
        background-color: #6e625e;
    }
    .hover-color-brown-700:hover {
        color: #6e625e;
    }
    .hover-border-color-brown-700:hover {
        border-color: #6e625e;
    }
    .hover-background-brown-600:hover {
        background-color: #9f948f;
    }
    .hover-color-brown-600:hover {
        color: #9f948f;
    }
    .hover-border-color-brown-600:hover {
        border-color: #9f948f;
    }
    .hover-background-brown-500:hover {
        background-color: #b7aea8;
    }
    .hover-color-brown-500:hover {
        color: #b7aea8;
    }
    .hover-border-color-brown-500:hover {
        border-color: #b7aea8;
    }
    .hover-background-beige-600:hover {
        background-color: #d6cec8;
    }
    .hover-color-beige-600:hover {
        color: #d6cec8;
    }
    .hover-border-color-beige-600:hover {
        border-color: #d6cec8;
    }
    .hover-background-beige-500:hover {
        background-color: #e8e0d9;
    }
    .hover-color-beige-500:hover {
        color: #e8e0d9;
    }
    .hover-border-color-beige-500:hover {
        border-color: #e8e0d9;
    }
    .hover-background-beige-400:hover {
        background-color: #ede6e1;
    }
    .hover-color-beige-400:hover {
        color: #ede6e1;
    }
    .hover-border-color-beige-400:hover {
        border-color: #ede6e1;
    }
    .hover-background-beige-300:hover {
        background-color: #f1ece8;
    }
    .hover-color-beige-300:hover {
        color: #f1ece8;
    }
    .hover-border-color-beige-300:hover {
        border-color: #f1ece8;
    }
    .hover-background-beige-200:hover {
        background-color: #f6f3f0;
    }
    .hover-color-beige-200:hover {
        color: #f6f3f0;
    }
    .hover-border-color-beige-200:hover {
        border-color: #f6f3f0;
    }
    .hover-background-beige-100:hover {
        background-color: #faf9f7;
    }
    .hover-color-beige-100:hover {
        color: #faf9f7;
    }
    .hover-border-color-beige-100:hover {
        border-color: #faf9f7;
    }
    .hover-background-blue-500:hover {
        background-color: #1241a2;
    }
    .hover-color-blue-500:hover {
        color: #1241a2;
    }
    .hover-border-color-blue-500:hover {
        border-color: #1241a2;
    }
    .hover-background-blue-400:hover {
        background-color: #0054f0;
    }
    .hover-color-blue-400:hover {
        color: #0054f0;
    }
    .hover-border-color-blue-400:hover {
        border-color: #0054f0;
    }
    .hover-background-blue-300:hover {
        background-color: #5a8ae2;
    }
    .hover-color-blue-300:hover {
        color: #5a8ae2;
    }
    .hover-border-color-blue-300:hover {
        border-color: #5a8ae2;
    }
    .hover-background-blue-200:hover {
        background-color: #a8c2f0;
    }
    .hover-color-blue-200:hover {
        color: #a8c2f0;
    }
    .hover-border-color-blue-200:hover {
        border-color: #a8c2f0;
    }
    .hover-background-blue-100:hover {
        background-color: #e1e9f6;
    }
    .hover-color-blue-100:hover {
        color: #e1e9f6;
    }
    .hover-border-color-blue-100:hover {
        border-color: #e1e9f6;
    }
    .hover-background-red-500:hover {
        background-color: #812308;
    }
    .hover-color-red-500:hover {
        color: #812308;
    }
    .hover-border-color-red-500:hover {
        border-color: #812308;
    }
    .hover-background-red-400:hover {
        background-color: #bb320c;
    }
    .hover-color-red-400:hover {
        color: #bb320c;
    }
    .hover-border-color-red-400:hover {
        border-color: #bb320c;
    }
    .hover-background-red-300:hover {
        background-color: #d16547;
    }
    .hover-color-red-300:hover {
        color: #d16547;
    }
    .hover-border-color-red-300:hover {
        border-color: #d16547;
    }
    .hover-background-red-200:hover {
        background-color: #f1b398;
    }
    .hover-color-red-200:hover {
        color: #f1b398;
    }
    .hover-border-color-red-200:hover {
        border-color: #f1b398;
    }
    .hover-background-red-100:hover {
        background-color: #f9e3d4;
    }
    .hover-color-red-100:hover {
        color: #f9e3d4;
    }
    .hover-border-color-red-100:hover {
        border-color: #f9e3d4;
    }
    .hover-background-green-500:hover {
        background-color: #183f1f;
    }
    .hover-color-green-500:hover {
        color: #183f1f;
    }
    .hover-border-color-green-500:hover {
        border-color: #183f1f;
    }
    .hover-background-green-400:hover {
        background-color: #217331;
    }
    .hover-color-green-400:hover {
        color: #217331;
    }
    .hover-border-color-green-400:hover {
        border-color: #217331;
    }
    .hover-background-green-300:hover {
        background-color: #4b9b5a;
    }
    .hover-color-green-300:hover {
        color: #4b9b5a;
    }
    .hover-border-color-green-300:hover {
        border-color: #4b9b5a;
    }
    .hover-background-green-200:hover {
        background-color: #b6d5b5;
    }
    .hover-color-green-200:hover {
        color: #b6d5b5;
    }
    .hover-border-color-green-200:hover {
        border-color: #b6d5b5;
    }
    .hover-background-green-100:hover {
        background-color: #e0f0db;
    }
    .hover-color-green-100:hover {
        color: #e0f0db;
    }
    .hover-border-color-green-100:hover {
        border-color: #e0f0db;
    }
    .hover-background-white:hover {
        background-color: #fff;
    }
    .hover-color-white:hover {
        color: #fff;
    }
    .hover-border-color-white:hover {
        border-color: #fff;
    }
    .hover-background-black:hover {
        background-color: #000;
    }
    .hover-color-black:hover {
        color: #000;
    }
    .hover-border-color-black:hover {
        border-color: #000;
    }
    .hover-background-transparent:hover {
        background-color: transparent;
    }
    .hover-color-transparent:hover {
        color: transparent;
    }
    .hover-border-color-transparent:hover {
        border-color: transparent;
    }
    .hover-background-inherit:hover {
        background-color: inherit;
    }
    .hover-color-inherit:hover {
        color: inherit;
    }
    .hover-border-color-inherit:hover {
        border-color: inherit;
    }
}
@media (hover: hover) and (pointer: fine) {
    .hover-cursor-none:hover {
        cursor: none;
    }
    .hover-cursor-context-menu:hover {
        cursor: context-menu;
    }
    .hover-cursor-help:hover {
        cursor: help;
    }
    .hover-cursor-pointer:hover {
        cursor: pointer;
    }
    .hover-cursor-progress:hover {
        cursor: progress;
    }
    .hover-cursor-text:hover {
        cursor: text;
    }
    .hover-cursor-not-allowed:hover {
        cursor: not-allowed;
    }
    .hover-cursor-zoom-in:hover {
        cursor: zoom-in;
    }
    .hover-cursor-zoom-out:hover {
        cursor: zoom-out;
    }
}
@media (hover: hover) and (pointer: fine) {
    .hover-shadow-400:hover {
        box-shadow: 0 8px 24px 0 rgba(51, 30, 17, 0.141);
    }
    .hover-shadow-300:hover {
        box-shadow: 0 8px 12px 0 rgba(51, 30, 17, 0.122);
    }
    .hover-shadow-200:hover {
        box-shadow: 0 4px 8px 0 rgba(51, 30, 17, 0.102);
    }
}
@media (hover: hover) and (pointer: fine) {
    .hover-underline:hover {
        text-decoration: underline;
    }
}
/*# sourceMappingURL=css-helpers.css.map */
